{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Music recommender{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Search string: <em>{% if name %}{{ name }}{% else %}n/a{% endif %}</em></h1>
</div>

<ul class=entries>
{% if albums %}
  {% for album in albums %}
    <li>{{ album['artist'] }} - {{ album['title'] }}
  {% endfor %}
{% else %}
    <li><em>No albums found</em>
{% endif %}
</ul>

<hr>

{{ wtf.quick_form(form) }}
{% endblock %}
