{% extends "base.html" %}

{% block title %}Album Recommendations{% endblock %}

{% block page_content %}


<div>
{% if current_user.is_authenticated %}
    <b>Album recommendations coming soon...</b>
{% else %}
    <b><a href="{{ url_for('auth.login') }}">Login</a> to get Album recommendations...</b>
{% endif %}
</div>

<hr/>

<div>
    <p>Recommendations will be provided by spark (IBM Spark as a Service or BigInsights on Cloud) using MessageHub as the connection between this application and spark.
    To see how the recommendation model is built and then called interacted with via Spark Streaming, see here: <a target="_new" href="https://github.com/snowch/demo_2710/blob/master/README.md">github</a></p>
</div>

{% endblock %}
